@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
	box-sizing: border-box;
}s

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, 
h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, 
header, hgroup, menu, nav, output, ruby, section, summary, time, 
mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}

html, body {
	font-family: 'rubik' ,sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	line-height: 1.35em;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: var(--black);
	font-style: 1rem;
}

img {
	pointer-events: none;
}

button {
	font-family: 'Roboto Mono', sans-serif;
}

:root {
	--black: #1b161d;
	--dark: #090808;
	--dark-secondary: #080809;
	--white: #fff;
	--light: #F2F7FB;
	--dimmed: #C2C2C2;
	--gray: #50505a;
}

#hero header {
	margin-bottom: 12vh;

	@media only screen and (max-width: 768px) {
		margin-bottom: 0;
	}
}

#about-ptoject {
	max-width: 100%;
}

::-webkit-scrollbar {
	width: 0;
}

.homepage {
	background: var(--dark-secondary);
	color: var(--white);
	overflow: hidden;
}

.sd3423lsd {
	direction: rtl;

	@media only screen and (max-width: 924px) {
                direction: inherit;
	}
}

.sdfe23 {
	display: flex;
	justify-content: flex-end;

	@media only screen and (max-width: 924px) {
		justify-content: flex-start;
	}
}

.contanier {
	max-width: 1260px;
        padding: 0 30px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	@media only screen and (min-width: 1400px) {
		max-width: 1420px;
	}

	
	@media only screen and (max-width: 576px) {
		padding: 0 15px;
	}
}

.back1 {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background: url("/img/background.png.pagespeed.ce.png") right top no-repeat;
	background-size: 25%;
	z-index: -10;
	-webkit-animation: moveLeft 5s infinite linear;
	animation: moveLeft 5s infinite linear;
}

.back2 {
	display: block;
	width: 100%;
	height: 110vh;
	position: absolute;
	left: 0;
	top: 30vh;
	background: url("/img/background2.webp.pagespeed.ce.webp") left top no-repeat;
	background-size: contain;
	z-index: -10;
	transition: all .3s ease-in;
	-webkit-animation: moveRight 5s infinite linear;
	animation: moveRight 5s infinite linear;
}

@keyframes grain {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	} 

	10% {
		-webkit-transform: translate(-5%, -10%);
		transform: translate(-5%, -10%);
	}
	
	30% {
		-webkit-transform: translate(3%, -15%);
		transform: translate(3%, -15%);
	}

	50% {
		-webkit-transform: translate(12%, 9%);
		transform: translate(12%, 9%);
	}

	70% {
		-webkit-transform: translate(9%, 4%);
		transform: translate(9%, 4%);
	}

	90% {
		-webkit-transform: translate(-1%, 7%);
		transform: translate(-1, 7%);
	}

	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@keyframes moveLeft {
	0% {
		height: 100%;
	}

	100% {
		height: 100%;
	}
}

@keyframes moveRight {
	0% {
		height: 110vh;
		top: 30vh;
		width: 100%;
	}

	50% {
		height: 100vh;
		top: 35vh;
	}

	100% {
		height: 110vh;
		top: 30vh;
		width: 100%;
	}
}